
<% @posts.each do |post| %>
  <article class="panel panel-default">

    <h2 class="panel-heading">
      <%= image_tag post.author_photo_url, class: 'author-photo' %>
      <%= post.title %><br />
      <small>By <%= post.author %></small>
    </h2>

    <div class="panel-body">
      <%= raw post.body %>
    </div>

  </article>
<% end %>
