
<% @posts.each do |post| %>
  <article class="panel panel-default">

    <%= render partial: 'posts/header', locals: { post: post } %>

    <div class="post-body panel-body">
      <%= sanitize post.abstract %><br />
      <%= link_to '... continue reading', post_path(post), class: 'btn' %>
    </div>

  </article>
<% end %>
