<article class="panel panel-default">

  <%= render partial: 'posts/header', locals: { post: @post } %>

  <div class="post-body panel-body">
    <p><em class="text-muted">Posted on <%= @post.created_at.strftime('%A, %B %d %Y at %l:%M%P %Z') %></em></p>
    <%= sanitize @post.body %>
  </div>

</article>
