// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  margin-bottom: 1.5em;
  background-color: #204560;
  h1, a {
    margin: 20px 0;
  }
}

article h2 {
  margin: 0;
  .panel-calendar {
    margin-right: 15px;
    margin-bottom: 0;
    div {
      padding: 5px 10px;
    }
  }
  img {
    width: 75px;
  }
}

.alert h2 {
  margin: 0px 0px 10px 0px;
}
.field_with_errors {
  input, textarea {
    border: 1px solid #a94442;
  }
}
