// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  margin-top: 0;
  background-color: rgb(61, 79, 93);
  h1 { color: #fff; }
  small { color: rgb(176, 202, 219); }
}

article h2 {
  margin: 0;
  .panel-calendar {
    margin-right: 15px;
    margin-bottom: 0;
    div { padding: 5px 10px; }
  }
  img { width: 75px; }
}
