<!DOCTYPE html>
<html>
<head>
  <title>BlogBox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="post-menu">
    <div class="darken" data-toggle="#post-menu"></div>
    <aside>
      <button type="button" class="btn btn-default btn-lg btn-primary" data-toggle="#post-menu">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <h1>Create Post</h1>
    </aside>
  </div>

  <h1 class="text-center">
    BlogBox <br />
    <small>A Simple Blogging Engine</small>
  </h1>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
